{% extends "LaFuenteCertificadoBundle::layout.html.twig" %}
{% set activeMenu = "tipoCertificado" %}

{% block breadcrumb %}
  <li><a href="#">Tipo de Certificado</a></li>
  <li class="active">Editar</li>
{% endblock %}

{% block sectionBody %}
  <h1>Editando Tipo de Certificado</h1>
  {{ form_start(edit_form) }}
      <div class="form-group label-floating is-empty">
          <label class="control-label">Nombre</label>
          {{ form_widget(edit_form.nombre, {'attr': {'class': 'form-control', 'placeholder': 'nombre'}}) }}
          <span class="material-input"></span>
      </div>
      <input type="submit" class="btn btn-primary" value="Crear" />
   {{ form_end(edit_form) }}

{% endblock %}
