{% extends "LaFuenteCertificadoBundle::layout.html.twig" %}
{% set activeMenu = "tipoCertificado" %}

{% block breadcrumb %}
  <li><a href="#">Tipo de Certificado</a></li>
  <li class="active">Crear</li>
{% endblock %}
{% block sectionBody %}
    {{ form_start(form) }}
     <div class="overflow">
        <div class="col-md-7 col-md-offset-2">
            <div class="panel panel-default ">
                <div class="panel-heading"><span class="glyphicon glyphicon-plus">Agregar un Tipo de Certificado</span>
                </div>
                    {{ form_widget(form._token) }}
                <div class="panel-body form-group ">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Nombre</label>
                            {{ form_widget(form.nombre, {'attr': {'class': 'form-control', 'placeholder': 'nombre'}}) }}
                        </div>
                    </div>

                    <div class="margin-top1">
                        <input class="btn btn-primary dropdown-toggle col-md-12" type="submit" value="Crear" />
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
