{% extends 'LaFuenteCertificadoBundle::layout.html.twig' %}

{% set activeMenu = "home" %}

{% block breadcrumb %}
<li><a href="#">Certificados</a></li>
  <li class="active">Inicio</li>
{% endblock %}

{% block sectionBody %}
    <div class="container">
        pepepe
    </div>
{% endblock %}
