{% extends "LaFuenteCertificadoBundle::layout.html.twig" %}
{% set activeMenu = "tipoRolPersona" %}

{% block breadcrumb %}
  <li><a href="#">Tipos de Rol de Persona</a></li>
  <li class="active">Editar</li>
{% endblock %}
{% block sectionBody %}
<h1>Editando Tipos de Rol de Personas</h1>
{{ form_start(edit_form) }}
    <div class="form-group label-floating is-empty">
        <label class="control-label">Nombre</label>
        {{ form_widget(edit_form.nombre, {'attr': {'class': 'form-control', 'placeholder': 'nombre'}}) }}
        <span class="material-input"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Crear" />
 {{ form_end(edit_form) }}

{% endblock %}
